__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.gz
*.zip
*.tar
*.tar.gz
venv/
.env
.git
.gitignore
.DS_Store
node_modules/
releases/
*.egg-info/
.idea/
.vscode/
.coverage
htmlcov/
test_scripts/__pycache__/ 